@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

body {
    @apply bg-[#1a1a1d];
}

body{
    @apply text-white
}